@font-face {
    font-family: Arial-Rounded;
    src: url(../font/Arial_Rounded_MT.ttf);
}

@font-face {
    font-family: Arial-Rounded-Bold;
    src: url(../font/Arial-Rounded-MT-Bold.ttf);
}

body{
    font-family: 'Arial-Rounded-Bold','Courier New', Courier, monospace;
    background-color: #397098;
    text-align: center;
    min-width: 250px;
}

h1{
    text-align: center;
    color: #FFFFFF;
}

button{
    font-family: 'Arial-Rounded-Bold','Courier New', Courier, monospace;
    color: #FFFFFF;
    border: none;
    font-size: 10px;
    padding: 3px 6px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4F7FA2;
    padding: 15px 15px;
    max-width: 250px;
    border-radius: 15px;
    height: 250px;
}

.sessions{
    display: flex;
    gap: 10px;
}

.sessions button{
    font-size: medium;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #4F7FA2;
}

.timer{
    font-size: 60px;
    color: #FFFFFF;
    padding: 25px 0px;
}

#start{
    color: #397098;
    background-color: #FFFFFF;
    padding: 10px 15px;
    font-size: medium;
    border-bottom: 4px solid #EBEBEB;
}

button:active {
  /* box-shadow: 0 2px #EBEBEB; */
  border: none;
  transform: translateY(2px);
}

#long{
    background-color: #446C8A;
}

.counter{
    color: white;
}